* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-container {
    background-color: #141414;
    height: 100%;
    min-height: 100vh;
    background-image:
                linear-gradient(to bottom,
                    rgba(0, 0, 0, 0.563),
                    rgba(0, 0, 0, 0.782)), 
                      url('t.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.top-options {
    width: 100%;
    background-color: rgba(129, 129, 129, 0.068);
    backdrop-filter: blur(2px);
    padding: 3em 2em;
    display: flex;
    gap: 2em;
    justify-content: center;
    flex-wrap: wrap;
}

.top-options > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    gap: 0.5em;
    font-size: 1.1rem;
}

select {
    padding: 0.5em 1em;
    font-family: inherit;
    color: #333;
}

select option {
    padding: 0.5 1em;
}

input {
    padding: 0.5em 1em;
    font-family: inherit;
    color: #333;
}

.main-content {
    width: 100%;
    padding: 2em;
}

.main-info-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    color: #54C7F8;
}

.controls {
    display: flex;
    gap: 2em;
}

.controls button {
    background: #54C7F8;
    padding: 0.5em 1em;
    color: #fff;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
}


.controls button:disabled {
    background-color: #4b4b4b;
    cursor: default;
}

.visual-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1em;
}

#sortCanvas {
    width: 100%;
    max-width: 50em;
    height: 400px;
    /* border: 1px solid #333; */
    background-color: rgba(207, 207, 207, 0);

    backdrop-filter: blur(5px);
    border-bottom: 3px dashed white;
    background-size: cover;
    background-position: bottom;

}

.console-container {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: rgba(185, 199, 235, 0.264);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 400px;
    max-width: 25em;
    min-width: 15em;
    color: rgb(216, 216, 216);
    padding: 1em;
    border-radius: 10px;
    -webkit-box-shadow: 14px 9px 18px -7px rgba(224,224,224,1);
    box-shadow: 2px 1px 5px #ffffff8b;
    overflow: auto;
}

h6 {
    font-size: 1rem;
}

.initial-arr {
    color: #e1b588;
    font-size: 1rem !important;
}

.console-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: flex-start;
    overflow: auto;
}

.console-content > div {
    display: flex;
}

.console-content > div > p {
    font-size: 0.9rem;
    border: 1px solid #fff;
    padding: 0.5em;
}

p.swapping {
    background-color: #e1b588;
    color: #fff;
    border: 1px solid #fff;
}

p.okay {
    background: #54C7F8;
    color: #fff;
    border: 1px solid #fff;
}

@media (max-width: 830px) {
    .visual-container {
        flex-direction: column;
    }

    .console-container {
        width: 100%;
        max-width: 50em;
    }
}